<h1>Success, <%= @user.full_name%>!</h1>
<br>
<h1>Your email address is: <%= @user.email_address%>!</h1>

<br>
<br>

<h3>Click here to return to the login page:</h3>
<br>

<form action="/" method="get">

  <input type="submit" value="Homepage" />

</form>
